<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >ngEvents</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink] = "['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Events</a>
          </li>
          <li><a [routerLink]="['/events/new']" routerLinkActive="active">Create Event</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
              Events
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li >
                <a href="">Angular Connect</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
            <li>
                <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
              <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{auth.currentUser.firstName}}</a>
            </li>
          </ul>
        </div>
        <form id="searchForm" (ngSubmit)="searchSessions(searchTerm)" class="navbar-form navbar-right"  >
          <div class="form-group">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Sessions" >
          </div>
          <button class="btn btn-default" modal-trigger="searchResults">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>

  <simple-modal closeOnBodyClick="true" elementId="searchResults" title="Matching Sessions">
      <div class="list-group">
          <a class = "list-group-item" *ngFor = "let session of foundSessions " [routerLink]="['/events', session.eventId]">{{session.name}}</a>
      </div>
  </simple-modal>

<!-- //Adding an active link so that the user comes to know which page they are on. -->
<!-- here, the active class only gets applied if the route exactly matches /events. otherwise both turn orange. -->

<!-- CREATION OF A MODAL COMPONENT
for every item we have an anchor link
It is going to loop over the sessions found and the route will be /events/sessionsid -->

<!-- CREATION OF A DIRECTIVE:
here, when we click  the Search button, modal-trigger tells Angular that when the button is clicked, the modal is modal-trigger
A component is an element eg: simple-modal
whereas a directive is an attribute: modal-trigger
Using a directive, we can attach new functionality to an existing DOM node. -->

<!-- here, closeOnBodyClick will close the dialog box if we click on the body -->