<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
        <!-- <div class="form-group" [ngClass]="{'error':profileForm.controls.firstName.invalid && profileForm.controls.firstName.touched }"> -->
        <div class="form-group" [ngClass]="{'error':!validateFirstName() }">
          <label for="firstName">First Name:</label>
          <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
          <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.pattern">Must start with a letter</em>
          <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
        </div>
        <div class="form-group" [ngClass]="{'error': !validateLastName() }">
          <label for="lastName">Last Name:</label>
          <em *ngIf="!validateLastName()">Required</em>
          <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
        </div>
  
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-warning" style="float:right" (click)="logout()">Logout</button>

      </form>
    </div>
  </div>

<!-- [formGroup]="profileForm"
have binded the form to the FormGroup that we created in the component -->

<!-- formControlName="firstName"
for each of the input elements we must specify the property on the profileForm that they should bind to. -->

<!-- Model based or Reactive forms require ReactiveFormsModule that must be imported. -->

<!-- the wireup for the save button actually happens on the form over in the html.
using ngsubmit we pass the profileform's value. -->

<!--  Raise an error only if the fist name is invalid and the fiels has been touched. same thing for the lastname too.
    <div class="form-group" [ngClass]="{'error':profileForm.controls.firstName.invalid && profileForm.controls.firstName.touched }"> -->

<!-- if the method returns False then add the error class.
<div class="form-group" [ngClass]="{'error':!validateFirstName() }"> -->

<!-- There are two validators added one for Required and other one for pattern.
The required one will be set to true whenever there is a required error. -->
